

@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.game-information {
    padding: 50px 0px;
}

.game-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.game-information {
    color: #5B331A;
    font-family: "Fjalla One", sans-serif;
}

.game-img {
    height: 386px;
    width: 386px;
}

.game_min-information {
    display: flex;
    width: 73.21%;
    justify-content: space-between;
}

.buy-field {
    width: 46.6%;
}

.price-amount {
    width: 69.42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8.26%;
}

.price {
    font-size: 48px;
}

.amount {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#amount-input {
    display: inline-block;
    box-sizing: border-box;
    padding: 9px 13px;
    text-align: center;
    width: 59.54%;
    aspect-ratio: 1 / 1;
    font-size: 32px;
    color: #5B331A;
    border: 0.5px solid rgba(91, 51, 26, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#amount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-button {
    background-color: #FBF9EE;
    font-size: 32px;
}

.minus {
    color: #A44747;
}

.plus {
    color: #61A447;
}

.game-buy-button {
    padding: 2.75% 28.62%;
    color: white;
    font-size: 20px;
    background-color:#61A447;
    margin-bottom: 8.26%;
}

.criteria-wrap {
    height: 32.38%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.criteria-titles-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.criteria-titles-item > p {
    display: inline-block;
    margin-left: 3px;
}

.criteria-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.game_min-information {
    margin-bottom: 60px;
}

.decs-title {
    padding: 11px 45px;
    font-size: 24px;
    border: 2px solid #5B331A;
    border-bottom: none;
    display: inline-block;
}

.desc-title-borders {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.desc-line {
    width: 100%;
    height: 2px;
    background-color:#5B331A;
}

.description {
    font-size: 24px;
}