@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.game-information {
    padding: 50px 0px;
}

.game-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.game-information {
    color: #5B331A;
    font-family: "Fjalla One", sans-serif;
}

.game-img {
    height: 386px;
    width: 386px;
}

.game_min-information {
    display: flex;
    width: 73.21%;
    justify-content: space-between;
}

.buy-field {
    width: 46.6%;
}

.price-amount {
    width: 69.42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 48px;
}

.amount {
    width: 33%;
    display: flex;
    justify-content: space-between;
}

#amount-input {
    display: inline-block;
    box-sizing: border-box;
    padding: 9px 13px;
    text-align: center;
    width: 71.69%;
    font-size: 32px;
    color: #5B331A;
    border: 0.5px solid rgba(91, 51, 26, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#amount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}