@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


.container {
    width: 1064px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header{
    font-family: "Lancelot", serif;
    color: #F7F1BF;
}

.main-header_block {
    background-color: #5B331A;
    padding: 28px 0px;
    color: #F7F1BF;
    font-size: 16px;
}

.main-nav_list {
    display: flex;
    justify-content: space-between;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 127px;
}

.main-nav_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 360px;
}

.middle-header_block {
    background-color: #835B41;
    padding: 17px 0px;  
}

.middle-header_wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;  
}

.catalog-button{
    background-color: #492813;
    border-radius: 3px;
    color: #F7F1BF;
    font-family: "Leckerli One", cursive;
    padding: 12px 6px;
}

.search-bar {
    min-width: 619px;
    min-height: 40px;
}

.main_searchbar{
    min-width: 584px;
    padding: 14px 0px 14px 7px;
    font-size: 15px;
    color: #A7A7A7;
    border-radius: 3px;
}

.search_button {
    width: 35px;
    min-height: 35px;
    border-radius: 3px;
    background: #492813 url(../media/Search.svg) no-repeat 50% 50%;
    cursor: pointer;
    position: relative;
    right: 42px;
}

.profile-nav_list{
    display: flex;
    min-width: 198px;
    justify-content: space-between;
    align-items: center;
    min-height: 43px;
}

.profile-nav_list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    min-height: 45px;
    font-size: 14px;
}

.bottom-header_wrap{
    width: 100%;
}

.bottom-header_nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

.online{
    padding: 8px 15px;
    background-image: url("../media/Online.png");
    color: #492813;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.online img {
    margin-right: 2px;
}



.certificates {
    display: flex;
    align-items: center;
}

.certificates img {
    margin-right: 8px;
}

.main-footer {
    margin-top: auto;
    width: 100%;
    background-color: #B2A196;
    padding: 60px 0px;
    color: #5B331A;
    font-family: "Fjalla One", sans-serif;
}

.social-media {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 120px;
}

.main-footer h2 {
    font-size: 24px;
}

.main-footer h3 {
    font-size: 20px;
}

.social-media_list {
    display: flex;
    justify-content: space-between;    
    max-width: 220px;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-navigation {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}

.footer-navigation h3{
    font-size: 24px;
}

.in-our-stores{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}

.in-our-stores_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.in-online-store {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
}

.in-online-store_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 76%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #89766A;
    margin-bottom: 25px;
}

.policy {
    display: flex;
    justify-content: space-evenly;
    width: 42%;
}

main {
    padding: 70px 0px;    
}

.main-images {
    display: flex;
    justify-content: space-between;
    font-family: "Fjalla One", sans-serif;
    margin-bottom: 50px;
}

.card {
    padding: 30px 15px;
    border: 2px solid rgba(91, 51, 26, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card p {
    color: #835B41;
    font-size: 20px;
}

.card p:first-child {
    font-size: 24px;
    color: #5B331A;
    margin-bottom: 10px;
}

.card_text {
    width: 60%;
}

.cards {
    width: 34%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}