@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

.container {
    width: 1064px;
    margin: 0 auto;
}

.main-header {
    background-color: #5B331A;
    padding: 28px 0px;
    color: #F7F1BF;
    font-family: "Lancelot", serif;
    font-size: 16px;
}

.main-nav_list {
    display: flex;
    justify-content: space-between;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 127px;
}

.main-nav_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 360px;
}