
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

main {
    padding: 70px 0px;    
}

.main-images {
    display: flex;
    justify-content: space-between;
    font-family: "Fjalla One", sans-serif;
    margin-bottom: 50px;
}

.card {
    padding: 30px 15px;
    border: 2px solid rgba(91, 51, 26, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card p {
    color: #835B41;
    font-size: 20px;
}

.card p:first-child {
    font-size: 24px;
    color: #5B331A;
    margin-bottom: 10px;
}

.card_text {
    width: 60%;
}

.cards {
    width: 34%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.tags > p:first-child {
    font-size: 40px;
    margin-bottom: 25px;
}

.catalog_wrapper {
    font-family: "Fjalla One", sans-serif;
    color: #5B331A;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.tags_list-item {
    background-image: url("../media/-.png");
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 10px;
    margin-bottom: 15px;
}

.tags_list-item:last-child {
    margin-bottom: 0px;
}

.search-cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 85%;
}

.searchbar {
    display: inline-flex;
    align-items: center;
}

.button {
    padding: 6px;
    height: 25px;
    background-color: #61A447;
    border-radius: 0px 2px 2px 0px;
}

#search {
    height: 22px;
    border: 2px solid #EDE9D4;
    border-radius: 2px 0px 0px 2px;
    padding: 2px;
    font-size: 14px;
    height: 100%;
}

.search-image {
    height: 10px;
}

.search-form {
    width: 100%;
    margin-bottom: 30px;
}

.search-form p:first-child {
    font-size: 40px;
    margin-bottom: 20px;
}

.search-field {
    display: flex;
    justify-content: space-between;
    width: 46.67%;
    align-items: center;
}

select {
    font-family: "Fjalla One", sans-serif;
    color: #5B331A;
    padding: 2px;
    border: 2px solid #EDE9D4;
    font-size: 14px;
}

.cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    justify-content: space-between;
    row-gap: 15px;
}

.store-card {
    padding: 12px 24px;
    background-color: white;
    width: 90%;
    border-radius: 1px;
    border: 0.5px solid #EDE8B8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: subgrid;
    grid-row: span 5;
}

.game-title {
    font-size: 16px;
}

.game-image {
    margin: 0 auto;
    display: block;
    width: 204px;
    height: 204px;
}

.price {
    font-size: 32px;
}

.buy {
    font-size: 20px;
    color: white;
    padding: 5px 63px;
    background-color: #61A447;  
}

.buy:visited {
    color: white;
}

.see-more {
    color: rgba(91, 51, 26, 0.65);
    font-size: 14px;
}