{% extends "main.html" %}

{% block style %}
<link rel="stylesheet" href="../static/style/game-page_style.css">

{% endblock %}

{% block main %}
<section class="game-information">
    <div class="container">
        <h1 class="game-title">The Terror of Arkham: The Secret Me</h1>
        <div class="game_min-information">
            <img src="../static/media/uzhas-arkhjema-tajnoe-poslanie-00-1000x416-wm.png" alt="" class="game-img">
            <div class="buy-field">
                <div class="price-amount">
                    <p class="price">15.00$</p>
                    <div class="amount">
                        <img src="" alt="" class="minus">
                        <input type="number" name="" id="amount-input" min="0" max="50">
                        <img src="" alt="" class="plus">
                    </div>
                </div>
                <button type="button" class="game-buy-button"></button>
                <div class="criteria-wrap"></div>
                    <ul class="criteria-titles-list">
                        <li class="criteria-titles-item">
                            <img src="" alt="">
                            <p></p>
                        </li>
                        <li class="criteria-titles-item">
                            <img src="" alt="">
                            <p></p>
                        </li>
                        <li class="criteria-titles-item">
                            <img src="" alt="">
                            <p></p>
                        </li>
                        <li class="criteria-titles-item">
                            <img src="" alt="">
                            <p></p>
                        </li>
                    </ul>
                    <ul class="criteria-list">
                        <li class="criteria-list-item">
                        </li>
                        <li class="criteria-list-item">

                        </li>
                        <li class="criteria-list-item">

                        </li>
                        <li class="criteria-list-item">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}