{% extends "main.html" %}

{% block style %}
<link rel="stylesheet" href="../static/style/game-page_style.css">
{% endblock %}

{% block main %}
<section class="game-information">
    <div class="container">
        <h1 class="game-title">{{ game.name }}</h1>
        <div class="game_min-information">
            <img src="../static/{{ game.game_image }}" alt="" class="game-img">
            <div class="buy-field">
                <div class="price-amount">
                    <p class="price">{{ game.price }}</p>
                    <div class="amount">
                        <button type="button" class="minus number-button">-</button>
                        <input type="number" name="" id="amount-input" min="0" max="50">
                        <button type="button" class="plus number-button">+</button>
                    </div>
                </div>
                <button type="button" class="game-buy-button">Buy</button>
                <div class="criteria-wrap">
                    <ul class="criteria-titles-list">
                        <li class="criteria-titles-item">
                            <img src="../static/media/stickman.svg" alt="" class="criteria-titles-img">
                            <p>Number of players:</p>
                        </li>
                        <li class="criteria-titles-item">
                            <img src="../static/media/play-time.svg" alt="" class="criteria-titles-img">
                            <p>Game time:</p>
                        </li>
                        <li class="criteria-titles-item">
                            <img src="../static/media/age.svg" alt="" class="criteria-titles-img">
                            <p>Age:</p>
                        </li>
                        <li class="criteria-titles-item">
                            <img src="../static/media/Language.svg" alt="" class="criteria-titles-img">
                            <p>Language:</p>
                        </li>
                    </ul>
                    <ul class="criteria-list">
                        <li class="criteria-list-item">
                            {{ game.players_number }}
                        </li>
                        <li class="criteria-list-item">
                            {{ game.game_time }}
                        </li>
                        <li class="criteria-list-item">
                            {{ game.min_age }}+
                        </li>
                        <li class="criteria-list-item">
                            English
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="desc-title-borders">
            <p class="decs-title">Description</p>
            <div class="desc-line"></div>
        </div>
        <p class="description">{{ game.description }}</p>
    </div>
</section>
{% endblock %}