<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header_block">
            <div class="container">
                <nav class="main-nav">
                    <ul class="main-nav_list">
                    <div class="main-nav_block">
                        <li class="main-nav_item">
                            <div class="location">
                                <img src="../static/media/Map.svg" alt="Карта" class="map-icon">
                                <a href="#">Russia, Moscow</a>
                            </div>
                        </li>
                            <li class="main-nav_item"><a href="#">Stores</a></li>
                            <li class="main-nav_item"><a href="#">Delivery and payment</a></li>
                        </div>
                        <div class="main-nav_block">
                            <li class="main-nav_item"><a href="#">Vacancies</a></li>
                            <li class="main-nav_item"><a href="#">8 (922) 659-99-07</a></li>
                            <li class="main-nav_item"><a href="#">Feedback</a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="middle-header_block">
            <div class="container">
                <div class="middle-header_wrap">
                    <img src="../static/media/Logo.svg\" alt="Лого">
                    <button class="catalog-button">
                        <img src="../static/media/Catalog.svg" alt="Каталог">
                        Catalog
                    </button>
                    <div class="search-bar">
                        <div class="search-bar_icon-block">
                            <input type="search" placeholder="Search..." class="main_searchbar">
                            <input type="button" class="search_button">
                        </div>
                    </div>
                    <nav class="profile-nav">
                        <ul class="profile-nav_list">
                            <li class="profile-nav_list-item">
                                <img src="../static/media/SignIn.svg" alt="">
                                <p>Sign in</p>
                            </li>
                            <li class="profile-nav_list-item">
                                <img src="../static/media/Orders.svg" alt="">
                                <p>Orders</p>
                            </li>
                            <li class="profile-nav_list-item">
                                <img src="../static/media/Wishlist.svg" alt="">
                                <p>Wish list</p>
                            </li>
                            <li class="profile-nav_list-item">
                                <img src="../static/media/Cart.svg" alt="">
                                <p>Cart</p>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="bottom-header_wrap">
                    <nav class="bottom-header_nav">
                        <ul class="bottom-header_nav-list">
                            <li class="bottom-header_nav-list_item">Promotion</li>
                            <li class="bottom-header_nav-list_item">Sales</li>
                            <li class="bottom-header_nav-list_item">
                                <img src="" alt="">
                                <p>Online</p>
                            </li>
                            <li class="bottom-header_nav-list_item">What should I play?</li>
                            <li class="bottom-header_nav-list_item"></li>
                            <li class="bottom-header_nav-list_item"></li>
                            <li class="bottom-header_nav-list_item"></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

</body>
</html>