<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header_block">
            <div class="container">
                <nav class="main-nav">
                <ul class="main-nav_list">
                    <div class="main-nav_block">
                        <li class="main-nav_item">
                            <div class="location">
                                <img src="../static/media/Map.svg" alt="Карта" class="map-icon">
                                <a href="#">Russia, Moscow</a>
                            </div>
                        </li>
                        <li class="main-nav_item"><a href="#">Stores</a></li>
                        <li class="main-nav_item"><a href="#">Delivery and payment</a></li>
                    </div>
                    <div class="main-nav_block">
                        <li class="main-nav_item"><a href="#">Vacancies</a></li>
                        <li class="main-nav_item"><a href="#">8 (922) 659-99-07</a></li>
                        <li class="main-nav_item"><a href="#">Feedback</a></li>
                    </div>
                </ul>
                </nav>
            </div>
        </div>
        <div class="middle-header_block">
            <div class="container">
                <div class="middle-header_wrap">
                    <img src="../static/media/Logo.svg\" alt="Лого">
                    <button class="catalog-button">
                        <img src="../static/media/Catalog.svg" alt="Каталог">
                        Catalog
                    </button>
                    <div class="search-bar">
                        <div class="search-bar_icon-block">
                            <img src="../static/media/Search.svg" alt="" class="search-bar_icon-img">
                        </div>
                        <input type="search" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>
</html>