<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <nav class="main-nav">
                <ul class="main-nav_list">
                    <div class="main-nav_block">
                        <div class="location">
                            <img src="../static/media/Map.svg" alt="Карта" class="map-icon">
                            <a href="#"><li class="main-nav_item">Russia, Moscow</li></a>
                        </div>
                        <a href="#"><li class="main-nav_item">Stores</li></a>
                        <a href="#"><li class="main-nav_item">Delivery and payment</li></a>
                    </div>
                    <div class="main-nav_block">
                        <a href="#"><li class="main-nav_item">Vacancies</li></a>
                        <a href="#"><li class="main-nav_item">8 (922) 659-99-07</li></a>
                        <a href="#"><li class="main-nav_item">Feedback</li></a>
                    </div>
                </ul>
            </nav>
            
        </div>
    </header>
</body>
</html>