{% extends "main.html" %}

{% block style %}
<link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block main %}
<div class="container">
    <div class="main-images">
        <img src="../static/media/friends.png" alt="">
        <div class="cards">
            <div class="card">
                <div class="card_text">
                    <p>The best board games of the season</p>
                    <p>UNO, Pocker and others...</p>
                </div>
                <img src="../static/media/Fire.svg" alt="">
            </div>
            <div class="card">
                <div class="card_text">
                    <p>Tavern</p>
                    <p>Chat, play games and leave your reviews</p>
                </div>
                <img src="../static/media/Dice.svg" alt="">
            </div>
        </div>
    </div>
    <div class="catalog_wrapper">
        <div class="tags">
            <p>Store</p>
            <ul class="tags_list">
                {% for genre in genres %}
                    <li class="tags_list-item">
                        <a href="?genres={{ genre.id }}&search={{ request.GET.search }}">{{ genre.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="search-cards">
            <div class="search-form">
                <p>New</p>
                <div class="search-field">
                    <form class="search-sort" method="post">
                        <label for="sort">Sort:</label>
                        {% csrf_token %}
                        <select name="sort" id="sort" onchange="this.form.submit()">
                            <option value="date">Date (newest to oldest)</option>
                            <option value="date-reverse">Date (oldest to newest)</option>
                            <option value="price-asc">Price ascending</option>
                            <option value="price-des">Price descending</option>
                            <option value="alphabet">Alphabetically A-Z</option>
                            <option value="reverse-alphabet">Alphabetically Z-A</option>
                            <option value="popular">Popularity</option>
                        </select>
                    </form>
                    <div class="search-find">
                        <label for="search">Search:</label>
                        <form class="searchbar" method="get" >
                            <input type="text" id="search" name="search" value="{{ request.GET.search }}">
                            <input type="text" id="hidden" name="genres" value="{{ request.GET.genres }}">
                            <button type="submit" class="button"><img src="../static/media/Search-white.svg" alt="" class="search-image"></button>
                        </form>
                    </div>
                </div>
            </div>
                {% if not query %}
                <div class="cards-grid">
                    {% for board_game in board_games %}
                    <div class="store-card">
                        <img src="../static/{{ board_game.game_image }}" alt="" class="game-image card-item">
                        <p class="game-title card-item">{{ board_game.name }}</p>
                        <p class="price card-item">{{ board_game.price }}$</p>
                        <a href="game-pages/{{ board_game.id }}" class="buy card-item">Buy</a>
                        <a href="#" class="see-more">more</a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <h2 class="res-for">Reults for "{{ query }}"</h2>
                <div class="cards-grid">
                    {% if board_games %}
                        {% for board_game in board_games %}
                        <div class="store-card">
                            <img src="../static/{{ board_game.game_image }}" alt="" class="game-image card-item">
                            <p class="game-title card-item">{{ board_game.name }}</p>
                            <p class="price card-item">{{ board_game.price }}$</p>
                            <a href="game-pages/{{ board_game.id }}" class="buy card-item">Buy</a>
                            <a href="#" class="see-more">more</a>
                        </div>
                        {% endfor %}
                </div>
                    {% else %}
                        <p class="nothing">Nothing...</p>
                    {% endif %}
                
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}