{% extends "main.html" %}

{% block main %}
<div class="container">
    <div class="main-images">
        <img src="../static/media/friends.png" alt="">
        <div class="cards">
            <div class="card">
                <div class="card_text">
                    <p>The best board games of the season</p>
                    <p>UNO, Pocker and others...</p>
                </div>
                <img src="../static/media/Fire.svg" alt="">
            </div>
            <div class="card">
                <div class="card_text">
                    <p>Tavern</p>
                    <p>Chat, play games and leave your reviews</p>
                </div>
                <img src="../static/media/Dice.svg" alt="">
            </div>
        </div>
    </div>
    <div class="catalog_wrapper">
        <div class="tags">
            <p>Store</p>
            <ul class="tags_list">
                <li class="tags_list-item">
                    <a href="#">Role-playing</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">Puzzles</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">Advantures</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">Family games</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">Strategic</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">Card games</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">Economic</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">Wargames</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">Abstract</a>
                </li>
                <li class="tags_list-item">
                    <a href="#">For parties</a>
                </li>
            </ul>
        </div>
        <div class="search-cards">
            <form action="" class="search"></form>
        </div>
    </div>
</div>
{% endblock %}