{% extends "main.html" %}

{% block main %}
<div class="container">
    <div class="main-images">
        <img src="../static/media/friends.png" alt="">
        <div class="cards">
            <div class="card">
                <div class="card_text">
                    <p>The best board games of the season</p>
                    <p>UNO, Pocker and others...</p>
                </div>
                <img src="../static/media/Fire.svg" alt="">
            </div>
            <div class="card">
                <div class="card_text">
                    <p>Tavern</p>
                    <p>Chat, play games and leave your reviews</p>
                </div>
                <img src="../static/media/Dice.svg" alt="">
            </div>
        </div>
    </div>
    
</div>
{% endblock %}