<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/header-footer.css">
    {% block style %}
    {% endblock %}
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="main-header">
            <div class="main-header_block">
                <div class="container">
                    <nav class="main-nav">
                        <ul class="main-nav_list">
                            <div class="main-nav_block">
                                <li class="main-nav_item">
                                    <div>
                                        <a href="#" class="location">
                                            <img src="../static/media/Map.svg" alt="Карта" class="map-icon">
                                            Russia, Moscow
                                        </a>
                                    </div>
                                </li>
                                <li class="main-nav_item"><a href="#">Stores</a></li>
                                <li class="main-nav_item"><a href="#">Delivery and payment</a></li>
                            </div>
                            <div class="main-nav_block">
                                <li class="main-nav_item"><a href="#">Vacancies</a></li>
                                <li class="main-nav_item"><a href="#">8 (922) 659-99-07</a></li>
                                <li class="main-nav_item"><a href="#">Feedback</a></li>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="middle-header_block">
                <div class="container">
                    <div class="middle-header_wrap">
                        <a href="">
                            <img src="../static/media/Logo.svg\" alt="Лого">
                        </a>
                        <button class="catalog-button">
                            <img src="../static/media/Catalog.svg" alt="Каталог">
                            Catalog
                        </button>
                        <div class="search-bar">
                            <div class="search-bar_icon-block">
                                <input type="search" placeholder="Search..." class="main_searchbar">
                                <input type="button" class="search_button">
                            </div>
                        </div>
                        <nav class="profile-nav">
                            <ul class="profile-nav_list">
                                <li class="profile-nav_list-item">
                                    <a href="#">
                                        <img src="../static/media/SignIn.svg" alt="">
                                    </a>
                                    <a href="#">Sign in</a>
                                </li>
                                <li class="profile-nav_list-item">
                                    <a href="#">
                                        <img src="../static/media/Orders.svg" alt="">
                                    </a>
                                    <a href="#">Orders</a>
                                </li>
                                <li class="profile-nav_list-item">
                                    <a href="#">
                                        <img src="../static/media/Wishlist.svg" alt="">
                                    </a>
                                    <a href="#">Wish list</a>
                                </li>
                                <li class="profile-nav_list-item">
                                    <a href="#">
                                        <img src="../static/media/Cart.svg" alt="">
                                    </a>
                                    <a href="#">Cart</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="bottom-header_wrap">
                        <nav class="bottom-header_nav">
                            <ul class="bottom-header_nav-list">
                                <li class="bottom-header_nav-list_item">
                                    <a href="#">Promotion</a>
                                </li>
                                <li class="bottom-header_nav-list_item">
                                    <a href="#">Sales</a>
                                </li>
                                <li>
                                    <a href="">Guide</a>
                                </li>
                                <li class="bottom-header_nav-list_item">
                                    <a href="#">
                                        <div class="online">
                                            <img src="../static/media/together.svg" alt="">
                                            Online
                                        </div>
                                    </a>
                                </li>
                                <li class="bottom-header_nav-list_item">
                                    <a href="#">What should I play?</a>
                                </li>
                                <li class="bottom-header_nav-list_item">
                                    <a href="#" class="certificates">
                                        <img src="../static/media/certificates.svg" alt="">
                                        <span>Gift certificates</span>
                                    </a>
                                </li>
                                <li class="bottom-header_nav-list_item">
                                    <a href="#">Play journal</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer class="main-footer">
            <div class="container">
                <div class="footer-wrapper">
                    <div class="social-media">
                        <h2>Board game store Sage’s Tavern</h2>
                        <h3>We are on social media:</h3>
                        <ul class="social-media_list">
                            <li>
                                <a href="#">
                                    <img src="../static/media/YouTube.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../static/media/TikTok.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../static/media/Telegram App.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../static/media/Instagram.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../static/media/Facebook.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-navigation">
                        <div class="in-our-stores">
                            <h3>In our stores</h3>
                            <ul class="in-our-stores_list">
                                <li class="in-our-stores_list_item">
                                    <a href="#">Store addresses</a>
                                </li>
                                <li class="in-our-stores_list_item">
                                    <a href="#">Services</a>
                                </li>
                                <li class="in-our-stores_list_item">
                                    <a href="#">Our partners</a>
                                </li>
                                <li class="in-our-stores_list_item">
                                    <a href="#">About the Company</a>
                                </li>
                                <li class="in-our-stores_list_item">
                                    <a href="#">For business</a>
                                </li>
                                <li class="in-our-stores_list_item">
                                    <a href="#">Do you want to work with us?</a>
                                </li>
                            </ul>
                        </div>
                        <div class="in-online-store">
                            <h3>In the online store</h3>
                            <ul class="in-online-store_list">
                                <li class="in-online-store_list-item">
                                    <a href="#">Delivery and payment</a>
                                </li>
                                <li class="in-online-store_list-item">
                                    <a href="#">Bonus program</a>
                                </li>
                                <li class="in-online-store_list-item">
                                    <a href="#">Questions and answers</a>
                                </li>
                                <li class="in-online-store_list-item">
                                    <a href="#">Feedback</a>
                                </li>
                                <li class="in-online-store_list-item">
                                    <a href="#">Stock</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="policy">
                    <p>© 2025, Sage’s Tavern</p>
                    <p>Sales rules</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>